body {
    background-color: rgb(34, 34, 95);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display {
    background-color: white;
    color: black;
    margin-bottom: 10px;
    height: 40px;
    cursor: text;
    font-size: 25px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5px;
}

.calculator{
    background-color: rgb(1, 1, 29);
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.button {
    background-color: #444;
    border-radius: 6px;
    text-align: center;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

div {
    margin: 3px;

}

.top-most{
    display: flex;
}

.top-most-bottom {
    display: flex;
}

.top-row{
    display: flex;
}

.middle-row{
    display: flex;
}

.bottom-row{
    display: flex;
}

.bottom-most {
    display: flex;
}

#equal {
    background-color: rgb(9, 117, 9);
}